body {
  background-color: #f1ede2;
}

#main-wrapper {
  margin: 20px auto;
  padding: 30px;
  width: 90%;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
}

.question-num {
  font-size: 12px;
  margin-top: 20px;
}

.form-check-input:checked {
  background-color: #27b56c !important;
  border-color: #27b56c !important;
}

.results-btn {
  background-color: #27b56c;
  color: white;
}

.results-btn:hover {
  background-color: #1e8c55;
  color: white;
}

#result {
  display: none;
}

.back-btn {
  background: none;
  border: 0;
  color: #1e8c55;
  font-size: 28px;
  line-height: 1;
  padding: 0;
  position: absolute;
}

.back-btn:hover {
  color: #176a40;
}

.result-app {
  background-color: #dcffd8;
  border: 1px solid #beeab9;
  border-radius: 5px;
  padding: 20px;
}
